<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head.ejs') %>
    <title>Render </title>
</head>
<body>
    <header>
        <%- include ('layout/header.ejs') %>
    </header>
    <main> This is test Page 

<% result.forEach(element => {%>

<div>
<form action="/" method="POST">
<h2>
    <%= element.name %>
</h2>
<input type="hidden" value="<%element.name%>" name="one">
<img src="<%= element.img%>" alt="">
<input type="hidden" value="<%= element.img%>" name="two">
<p><%= element.level%></p>
<input type="hidden" value="<%= element.level%>" name="three">
 <button type="submit">Save digimon</button>
</form>

</div>
<% })%>



    </main>
    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>
</body>
</html>